<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="StaticFile" />
      <add name="StaticFile" path="*" verb="GET, POST" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
            <add name="py" path="*.py" verb="*" modules="CgiModule" scriptProcessor="\\ISE-HDM-11\Python27\python.exe %s %s" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>